.registrationConfirm {
    transform: scale(4);
    margin: 0 auto;
    margin-bottom: 70px;
}
.registrationFields,
.formInput {
    width: 100%;
    margin-bottom: 12px;
}
.registrationButton {
    width: 100%;
}
.submitBtn {
    background-color: var(--bg-color);
    border-radius: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
    width: 100%;
}

.emailConfirm {
    width: 100%;
    width: 346px;
    text-align: center;
    font-family: var(--font-family);
    & p {
        font-weight: var(--font-bold);
        font-size: 18px;
    }
    & label  {
        font-weight: var(--font-pre-bold);

        font-size: 12px;
    }
}