.app.dark {
    --bg-color: #1c1d1e;
    --main-page:rgba(0, 0, 0, 0.2);

    --primary-color: #fff;
    --secondary-color: violet;
    --third-color: violet;
    --danger-btn-bg-color:blue;
    --form-error:yellow;

    --productAvialable:orange;
    --productNotAvialable:yellow;


}
