.app.light {
    --bg-color: #fff;
    --main-page:#e3e3e3;
    --modal-bg-color:#fff;

    --primary-color: #1c1d1e;
    --secondary-color: #c6c4c4;
    --third-color: #5c8e29;
    --form-error:red;

    --productAvialable:#5c8e29;
    --productNotAvialable:red;
}
